<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ui Suite">
	<test name="Fuunctional Testing">
		<groups>
			<run>
				<include name="Main" />
			</run>
		</groups>

		<classes>
			<class name="ui.GroupDemoTest" />
			<class name="ui.TitleTest" />
			<class name="ui.LoginTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
